body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f3f5;
}


.header {
    background-color: #262626;
    color: white;
    padding: 18px;
    font-size: 26px;
    text-align: center;
    font-weight: bold;
}


.main {
    width: 900px;
    margin: 50px auto;
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
    overflow: hidden;
}


.board {
    float: left;
}

.board table {
    border-collapse: collapse;
    margin-right: 10px;
    border: 6px solid #333;
}

.board td {
    width: 60px;
    height: 60px;
}

.white {
    background-color: #f0d9b5;
}

.black {
    background-color: #b58863;
}


.menu {
    width: 240px;
    background-color: #fafafa;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 5px 12px rgba(0,0,0,0.12);
}

.menu h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #222;
}

.menu button {
    width: 100%;
    padding: 12px;
    margin-bottom: 12px;
    border: none;
    background-color: #4caf50;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.menu button:hover {
    background-color: #43a047;
}
.right-panel {
    float: right;
    width: 240px;
    position: relative;
}

.profile {
    text-align: center;
    margin-bottom: 20px;
}

.avatar {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin: 0 auto 8px;
    border: 3px solid #4caf50;
    background-image: url("image.avif");
    background-size: cover;
    background-position: center;
}


.profile p {
    font-weight: bold;
    color: #333;
}


.menu {
    width: 240px;
    background-color: #fafafa;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 5px 12px rgba(0,0,0,0.12);
}
.right-panel {
    float: right;
    width: 240px;
    margin-right: 80px;
}


.footer {
    clear: both;
    background-color: #262626;
    color: white;
    text-align: center;
    padding: 12px;
    margin-top: 40px;
    font-size: 14px;
}
